{% include "admin_header.html" %}
<center>

<form method="post">
{% if data['updatess'] %}
<h1>Update Doctor Details</h1>
<table>
		<tr>
			<th>Hospital</th>
			<td>
			<select name="hosp">
			<option value="{{data['updatess'][0]['hospital_id']}}">{{data['updatess'][0]['hospital']}}</option>
			{% for row in data['hospital'] %}
			<option value="{{row['hospital_id']}}">{{row['hospital']}}</option>
			{% endfor %}
			
				
			</select>
			</td>
		</tr>

		<tr>
			<th>Department</th>
			<td><input type="text" name="dept" value="{{data['updatess'][0]['dept']}}"></td>
		</tr>

		<tr>
			<th>Doctor Name</th>
			<td><input type="text" name="dname" value="{{data['updatess'][0]['dname']}}"></td>
		</tr>

		<tr>
		   <th>Phone Number</th>
		<td><input type="text" name="phone" value="{{data['updatess'][0]['phone']}}"></td>
		</tr>
		
		<tr>
		<th>Email</th>
			<td><input type="email" name="email" value="{{data['updatess'][0]['email']}}"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submits" value="Submit"></td>
		</tr>
	</table>

	{% else %}
<h1>Add Doctor Details</h1>
<table>
		<tr>
			<th>Hospital</th>
			<td>
			<select name="hosp">
			{% for row in data['hospital'] %}
			<option value="{{row['hospital_id']}}">{{row['hospital']}}</option>
			{% endfor %}
			
				
			</select>
			</td>
		</tr>
		<tr>
			<th>Department</th>
			<td><input type="text" name="dept"></td>			
		</tr>
		<tr>
			<th>Doctor Name</th>
			<td><input type="text" name="dname"></td>
		</tr>

		<tr>
		   <th>Phone Number</th>
		<td><input type="text" name="phone"></td>
		</tr>
		
		<tr>
		<th>Email</th>
			<td><input type="email" name="email"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="Add"></td>
		</tr>
	</table>
	{% endif %}
	</form>
	<h1>Doctor Details</h1>
	<table>
		<tr>
		<th>Sl No</th>
		<th>Hospital</th>
		<th>Department</th>
	    <th>Doctor</th>
	    <th> Phone Number</th>
		<th>Email</th>
		</tr>
		{% for row in data['doctor_view'] %}
		<tr>
		
		<td>{{loop.index}}</td>
		<td>{{row['hospital']}}</td>
		<td>{{row['dept']}}</td>
		<td>{{row['dname']}}</td>
		<td>{{row['phone']}}</td>
		<td>{{row['email']}}</td>
		<td><a href="?action=update&did={{row['login_id']}}">Update</a></td>
		<td><a href="?action=delete&did={{row['login_id']}}">Delete</a></td>
		</tr>
		{% endfor %}
		</table>
		
	</center>
</body>
</html>