{% include "admin_header.html" %}
<center>
	<form method="post">
		{% if data['updatess'] %}
		<h1>Update Hospital Details</h1>
		<table class="table" style="width: 500px;">
			<tr>
				<th>Hospital Name</th>
				<td><input type="text" class="form-control" name="hname" required pattern="[a-zA-Z\s]{0,30}" value="{{data['updatess'][0]['hospital']}}"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place" class="form-control" required pattern="[a-zA-Z\s]{0,30}" value="{{data['updatess'][0]['place']}}"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" class="form-control" required pattern="[0-9]{10}" value="{{data['updatess'][0]['phone']}}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center" ><input type="submit" name="submits" value="UPDATE" class="btn btn-success"></td>
			</tr>
		
		</table>
		{% else %}
		<h1>Register Hospital Here</h1>
		<table class="table" style="width: 700px;">
			<tr>
				<th>Hospital Name</th>
				<td><input type="text" name="hname" class="form-control" required pattern="[a-zA-Z\s]{0,30}"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place" class="form-control" required pattern="[a-zA-Z\s]{0,30}"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" class="form-control" required pattern="[0-9]{10}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center" ><input type="submit" name="submit" value="REGISTER" class="btn btn-success"></td>
			</tr>
		
		</table>
		{% endif %}


		<h1>Registered Hospitals</h1>

		<table class="table" style="width: 700px;">
			<tr>
				<th>Sl No</th>
				<th>Hospial Name</th>
				<th>Place</th>
				<th>Phone</th>
			</tr>

			{% for row in data['hospital'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['hospital']}}</td>
				<td>{{row['place']}}</td>
				<td>{{row['phone']}}</td>
				<td><a class="btn btn-info" href="?action=update&hid={{row['hospital_id']}}">UPDATE</a></td>
				<td><a class="btn btn-info" href="?action=delete&hid={{row['hospital_id']}}">DELETE</a></td>
				
			</tr>
			{% endfor %}
			
		</table>
		
	</form>
	
</center>
{% include "footer.html" %}