{% include "admin_header.html" %}
<center>
	<form method="post">
		{% if data['updatess'] %}
		<h1>Update Doctor Details</h1>
		<table class="table" style="width: 700px">
			<tr>
				<th>Hospital</th>
				<td><select name="hospiatl" class="form-control">
					<option value="{{data['updatess'][0]['hospital_id']}}">{{data['updatess'][0]['hospital']}}</option>

					{% for row in data['hospital'] %}
					<option value="{{row['hospital_id']}}">{{row['hospital']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			<tr>
				<th>Doctor Name</th>
				<td><input type="text" name="dname" required pattern="[a-zA-Z\s]{0,30}" value="{{data['updatess'][0]['doctor_name']}}" class="form-control"></td>
			</tr>
			
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" required pattern="[0-9]{10}" value="{{data['updatess'][0]['phone']}}" class="form-control"></td>
			</tr>
			<tr>
				<th>email</th>
				<td><input type="email" name="email" required  value="{{data['updatess'][0]['email']}}" class="form-control"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="center" ><input type="submit" name="submits" value="UPDATE" class="btn btn-success"></td>
			</tr>
		
		</table>
		{% else %}
		<h1>Register Doctors Here</h1>
		<table class="table" style="width: 700px">
			<tr>
				<th>Hospital</th>
				<td><select name="hospiatl" class="form-control">

					{% for row in data['hospital'] %}
					<option value="{{row['hospital_id']}}">{{row['hospital']}}</option>
					{% endfor %}
				</select></td>
			</tr>
			<tr>
				<th>Doctor Name</th>
				<td><input type="text" name="dname" required pattern="[a-zA-Z\s]{0,30}" class="form-control"></td>
			</tr>
			
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" required pattern="[0-9]{10}" class="form-control"></td>
			</tr>
			<tr>
				<th>email</th>
				<td><input type="email" name="email" required class="form-control" ></td>
			</tr>
			<tr>
				<th>Username</th>
				<td><input type="text" name="uname" required class="form-control"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" name="pwd" required class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center" ><input type="submit" name="submit" value="REGISTER" class="btn btn-success"></td>
			</tr>
		
		</table>
		{% endif %}


		<h1>Registered doctors</h1>

		<table class="table" style="width: 700px">
			<tr>
				<th>Sl No</th>
				<th>Hospial Name</th>
				<th>Doctor Name</th>
				<th>Phone</th>
				<th>Email</th>
			</tr>

			{% for row in data['doctor'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['hospital']}}</td>
				<td>{{row['doctor_name']}}</td>
				<td>{{row['dphone']}}</td>
				<td>{{row['demail']}}</td>
				<td><a class="btn btn-info" href="?action=update&did={{row['doctor_id']}}">UPDATE</a></td>
				<td><a class="btn btn-info" href="?action=delete&did={{row['doctor_id']}}">DELETE</a></td>
				
			</tr>
			{% endfor %}
			
		</table>
		
	</form>
	
</center>
{% include "footer.html" %}