{% include "doctor_header.html" %}
<style >
    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
</style>
<center>
    <br><br><br><br>
	<h1>Ratings</h1>
<table class="table" style="width: 500px;">
	<tr>
		<th>Sl No</th>
		<th>Customer Name</th>
		<th>Date</th>
		<th>Rated</th>
		
	</tr>
	   {% for row in data['rating'] %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{row['fname']}} {{row['lname']}}</td>
        <td>{{row['date']}}</td>
        <div class="rate">
            {% if row['rated']=='1' %}
        <td  style="color: red;">&#42;&nbsp;</td>
        
        {% elif row['rated']=='2' %}
        <td  style="color: red;">&#42;&nbsp;&#42;&nbsp;</td>
        
        {% elif row['rated']=='3' %}
        <td  style="color: blue;">&#42;&nbsp;&#42;&nbsp;&#42;&nbsp;</td>
        {% endif %}
        {% if row['rated']=='4' %}
        <td style="color: yellow;">&#42;&nbsp;&#42;&nbsp;&#42;&nbsp;&#42;&nbsp;</td>
    

        {% elif row['rated']=='5' %}
        <td  style="color: green;">&#42;&nbsp;&#42;&nbsp;&#42;&nbsp;&#42;&nbsp;&#42;&nbsp;</td>
        {% endif %}
    </div>
    </tr>
    {% endfor %}
	
</table>
<br><br><br><br>
</center>
{% include "footer.html" %}